<h1 class="layout-margin">Future</h1>

<TodoList
  @todos={{this.sortedTodos}}
  @onChooseTodo={{this.handleChooseTodo}}
  as |todo|
>
  Deferred until {{relative-date todo.deferredUntil}}
</TodoList>
