<div>
  <BackButton
    @onClick={{this.goToFuture}}
    data-test-back-to-future-list
  >
    Future
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToFuture}}
  />
</div>
