<div class="list-detail__detail">
  <BackButton
    @route="todos.future"
    data-test-back-to-future-list
  >
    Future
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToFuture}}
  />
</div>
