<div>
  <PaperButton
    @onClick={{this.goToFuture}}
    @class="hide-gt-sm"
    data-test-back-to-future-list
  >
    &lt; Future
  </PaperButton>

  <TodoDetail
    @todo={{this.model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToFuture}}
  />
</div>
