.app-button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > * {
    margin-bottom: 8px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    & > * {
      margin-bottom: 0 !important;
    }
  }
}

.md-button {
  @media only screen and (max-width: 599px) {
    min-height: 44px;
  }
}

md-card-actions .md-button {
  @media only screen and (max-width: 599px) {
    margin-left: 0 !important;
  }
}

.todo-list-item {
  &__container {
    margin: 16px 0;
  }

  &__title {
    margin: 0;
    line-height: 1.2em;
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--foreground-2);
  }
}

.todo-headline {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    flex: 1;
  }
}

.notes-display {
  white-space: pre-wrap;
}

.title-input {
  font-size: 24px;
}

.click-to-edit {
  cursor: pointer;
}

.full-height {
  height: 100%;
}
