<div>
  <PaperButton
    @onClick={{this.goToAvailable}}
    @class="hide-gt-sm"
    data-test-back-to-available-list
  >
    &lt; Available
  </PaperButton>

  <TodoDetail
    @todo={{this.model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToAvailable}}
  />
</div>
