<div>
  <BackButton
    @onClick={{this.goToAvailable}}
    data-test-back-to-available-list
  >
    Available
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToAvailable}}
  />
</div>
