<div class="list-detail__detail overflow-hidden">
  <BackButton
    @route="todos.available"
    data-test-back-to-available-list
  >
    Available
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToAvailable}}
  />
</div>
