<div class="list-detail__detail mt-3">
  <BackButton
    @route="categories"
    data-test-back-to-categories-list
  >
    Categories
  </BackButton>

  <CategoryDetail
    @category={{this.model}}
    @onSave={{this.goToCategories}}
    @onDelete={{this.goToCategories}}
    @onCancel={{this.goToCategories}}
  />
</div>
