<div>
  <PaperButton
    @onClick={{this.goToCategories}}
    @class="hide-gt-sm"
    data-test-back-to-categories-list
  >
    &lt; Categories
  </PaperButton>

  <CategoryDetail
    @category={{this.model}}
    @onDelete={{this.goToCategories}}
    @onCancel={{this.goToCategories}}
  />
</div>
