<div>
  <BackButton
    @route="categories"
    class="mt-3"
    data-test-back-to-categories-list
  >
    Categories
  </BackButton>

  <CategoryDetail
    @category={{this.model}}
    @onSave={{this.goToCategories}}
    @onDelete={{this.goToCategories}}
    @onCancel={{this.goToCategories}}
  />
</div>
