<div>
  <BackButton
    route="categories"
    data-test-back-to-categories-list
  >
    Categories
  </BackButton>

  <CategoryDetail
    @onSave={{this.goToCategories}}
    @onCancel={{this.goToCategories}}
  />
</div>
