<div>
  <PaperButton
    @onClick={{this.goToDeleted}}
    @class="hide-gt-sm"
    data-test-back-to-deleted-list
  >
    &lt; Deleted
  </PaperButton>

  <TodoDetail
    @todo={{this.model}}
    @onHandle={{this.goToDeleted}}
  />
</div>
