<div class="list-detail">
  <TodoList
    @title="Future"
    @icon="calendar_today"
    @groups={{this.todoGroups}}
    @onChooseTodo={{this.handleChooseTodo}}
    @onRefresh={{action send 'refresh'}}
  />
  {{outlet}}
</div>
