{{#if this.session.isAuthenticated}}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        {{on "click" this.signOut}}
      >
        Sign Out
      </a>
    </li>
  </ul>
{{/if}}
