{{#if this.session.isAuthenticated}}
  <PaperMenu as |menu|>
    <menu.trigger>
      <PaperButton @iconButton={{true}}>
        {{paper-icon "account_circle"}}
      </PaperButton>
    </menu.trigger>
    <menu.content @width={{4}} as |content|>
      <content.menu-item @onClick={{this.signOut}}>
        <span>Sign Out</span>
      </content.menu-item>
    </menu.content>
  </PaperMenu>
{{/if}}
