{{#if this.session.isAuthenticated}}
  <PaperMenu as |menu|>
    <menu.trigger>
      <IconButton>
        <AppIcon @icon="account_circle" @alt="account_circle" />
      </IconButton>
    </menu.trigger>
    <menu.content @width={{4}} as |content|>
      <content.menu-item @onClick={{this.signOut}}>
        <span>Sign Out</span>
      </content.menu-item>
    </menu.content>
  </PaperMenu>
{{/if}}
