<div>
  {{yield (hash
    toolbar=(component "bootstrap-layout-toolbar"
      title=@title
      onToggleSideNav=this.toggleSideNavOpen
    )
    body=(component "bootstrap-layout-body"
      sideNavOpen=this.sideNavOpen
      onToggleSideNav=this.toggleSideNavOpen
    )
  )}}
</div>
