<div>
  {{yield (hash
    toolbar=(component "bootstrap-layout-toolbar"
      title=@title
      onToggleSideNav=@onToggleSideNav
    )
    content=(component "bootstrap-layout-content")
  )}}
</div>
