<nav class="navbar navbar-dark bg-primary">

  <div class="navbar-brand">
    {{@title}}
  </div>

  <span class="flex-fill"></span>

  {{yield}}

  {{#if @showSideNavToggle}}
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  {{/if}}
</nav>
