<div>
  {{yield (hash
    toolbar=(component "bootstrap-layout-toolbar"
      title=@title
      onToggleSideNav=(action (mut this.sideNavOpen))
    )
    body=(component "bootstrap-layout-body"
      sideNavOpen=this.sideNavOpen
      onToggleSideNav=(action (mut this.sideNavOpen))
    )
  )}}
</div>
