<div>
  {{yield (hash
    sidenav=(component "bootstrap-layout-sidenav"
      title=@title
      open=@sideNavOpen
      onToggle=@onToggleSideNav
    )
    content=(component "bootstrap-layout-content")
  )}}
</div>
