<div class="layout-fill">
  {{yield (hash
    toolbar=(component 'layout-toolbar'
      title=@title
      onToggleSideNav=@onToggleSideNav
    )
    content=(component 'layout-content')
  )}}
</div>
