<div class="d-flex">
  {{yield (hash
    sidenav=(
      component "layout-sidenav"
      open=@sideNavOpen
    )
    content=(
      component "layout-content"
      sideNavOpen=@sideNavOpen
    )
  )}}
</div>
