<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  {{#if @showSideNavToggle}}
    <button
      {{on "click" @onToggleSideNav}}
      class="navbar-toggler d-lg-none mr-3"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  {{/if}}

  <LinkTo
    @route={{@titleLinkRoute}}
    class="navbar-brand"
  >
    {{@title}}
  </LinkTo>

  <span class="flex-fill"></span>

  {{yield}}

</nav>
