<div>
  {{yield (hash
    toolbar=(component "layout-toolbar"
      title=@title
      onToggleSideNav=this.toggleSideNavOpen
    )
    body=(component "layout-body"
      sideNavOpen=this.sideNavOpen
      onToggleSideNav=this.toggleSideNavOpen
    )
    hideSideNav=this.hideSideNav
  )}}
</div>
