<form
  {{on "submit" this.handleSearch}}
  data-test-search-form
>
  <div class="form-group">
    <Input
      @value={{this.searchText}}
      placeholder="Search"
      class="form-control"
      data-test-search-field
    />
  </div>
</form>
