<PaperForm
  @onSubmit={{this.handleSearch}}
  class="layout-margin"
  data-test-search-form
>
  <div data-test-search-field>
    <Input
      @value={{this.searchText}}
      placeholder="Search"
      class="form-control"
    />
  </div>
</PaperForm>
