<div class="list-detail__detail">
  <BackButton
    @route="todos.tomorrow"
    data-test-back-to-tomorrow-list
  >
    Tomorrow
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToTomorrow}}
  />
</div>
