<div>
  <PaperButton
    @onClick={{this.goToTomorrow}}
    @class="hide-gt-sm"
    data-test-back-to-tomorrow-list
  >
    &lt; Tomorrow
  </PaperButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToTomorrow}}
  />
</div>
