<div>
  <BackButton
    @route="todos.deleted"
    data-test-back-to-deleted-list
  >
    Deleted
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToDeleted}}
  />
</div>
