<button
  {{on "click" (fn @onChooseTodo @todo)}}
  type="button"
  class="list-group-item list-group-item-action todo-list-item"
  data-test-todo
>
  <p
    class="todo-list-item__title"
    data-test-todo-name
  >
    {{@todo.name}}
  </p>
  {{yield}}
</button>
