<div>
  <BackButton
    @onClick={{this.goToCompleted}}
    data-test-back-to-completed-list
  >
    Completed
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToCompleted}}
  />
</div>
