<div class="list-detail__detail">
  <BackButton
    @route="todos.completed"
    data-test-back-to-completed-list
  >
    Completed
  </BackButton>

  <TodoDetail
    @todo={{@model.todo}}
    @categories={{this.sortedCategories}}
    @onHandle={{this.goToCompleted}}
  />
</div>
