<div class="layout-fill">
  <AppToolbar />

  <div class="layout-row">
    <div class="hide show-gt-md flex-gt-md-10"></div>
    <div class="flex-100 flex-gt-md-80">
      {{#if this.session.isAuthenticated}}
        {{outlet}}
      {{else}}
        <LoginForm />
      {{/if}}
    </div>
    <div class="hide show-gt-md flex-gt-md-10"></div>
  </div>
</div>
