<PaperCard as |card|>
  <PaperList>
    <PaperItem @onClick={{fn this.goToTodos 'available'}}>
      <p>Available</p>
    </PaperItem>
    <PaperItem @onClick={{fn this.goToTodos 'future'}}>
      <p>Future</p>
    </PaperItem>
    <PaperItem @onClick={{fn this.goToTodos 'completed'}}>
      <p>Completed</p>
    </PaperItem>
    <PaperItem @onClick={{fn this.goToTodos 'deleted'}}>
      <p>Deleted</p>
    </PaperItem>
  </PaperList>
</PaperCard>
